{% extends 'main/base_dashboard.html' %}
{% load staticfiles %}

{% block title %}
    Додати учня
{% endblock %}

{% block main_content %}
    <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
        <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
            <h1 class="h2">Додати учня</h1>
        </div>

        <form method="post" action="{% url 'add_student_url' c_id=c_id %}">
            {% csrf_token %}
            {% for field in form %}
                {% if field.name == 'passport_lot' %}
                    <div class="row">
                        <div class="col-2">
                            <div class="form-group">
                                <label for="{{ field.id_for_label }}">{{ field.label_tag }}</label>
                                {{ field }}
                                {% if field.errors %}
                                    {% for error in field.errors %}
                                        <small class="form-text text-muted">{{ error }}</small>
                                    {% endfor %}
                                {% endif %}
                            </div>
                        </div>
                        {% elif field.name == 'passport_number' %}
                        <div class="col">
                            <div class="form-group">
                                <label for="{{ field.id_for_label }}">{{ field.label_tag }}</label>
                                {{ field }}
                                {% if field.errors %}
                                    {% for error in field.errors %}
                                        <small class="form-text text-muted">{{ error }}</small>
                                    {% endfor %}
                                {% endif %}
                            </div>
                        </div>
                    </div>
                {% elif field.name == 'first_name' %}
                    <div class="row">
                        <div class="col">
                            <div class="form-group">
                                <label for="{{ field.id_for_label }}">{{ field.label_tag }}</label>
                                {{ field }}
                                {% if field.errors %}
                                    {% for error in field.errors %}
                                        <small class="form-text text-muted">{{ error }}</small>
                                    {% endfor %}
                                {% endif %}
                            </div>
                        </div>
                        {% elif field.name == 'last_name' %}
                        <div class="col">
                            <div class="form-group">
                                <label for="{{ field.id_for_label }}">{{ field.label_tag }}</label>
                                {{ field }}
                                {% if field.errors %}
                                    {% for error in field.errors %}
                                        <small class="form-text text-muted">{{ error }}</small>
                                    {% endfor %}
                                {% endif %}
                            </div>
                        </div>
                        {% elif field.name == 'third_name' %}
                        <div class="col">
                            <div class="form-group">
                                <label for="{{ field.id_for_label }}">{{ field.label_tag }}</label>
                                {{ field }}
                                {% if field.errors %}
                                    {% for error in field.errors %}
                                        <small class="form-text text-muted">{{ error }}</small>
                                    {% endfor %}
                                {% endif %}
                            </div>
                        </div>
                    </div>
                {% else %}
                    <div class="form-group">
                        <label for="{{ field.id_for_label }}">{{ field.label_tag }}</label>
                        {{ field }}
                        {% if field.errors %}
                            {% for error in field.errors %}
                                <small class="form-text text-muted">{{ error }}</small>
                            {% endfor %}
                        {% endif %}
                    </div>
                {% endif %}

            {% endfor %}

            <button type="submit" class="btn btn-primary">Підтвердити</button>
        </form>

    </main>
{% endblock %}